<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
        <head>
                <title>Change Password Form</title>
                <link rel="stylesheet" media="screen" href ="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
                <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
                <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>

        <body>
                <div class="container">
					<h2>Change Password Form - Powered by MailDust</h2>
					<form  action="" method="post" role="form">
						<div class="form-group">
							<label for="username">Username:</label>
							<input type="text" class="form-control" id="name" name="username" placeholder="Please, type your username.">

							<label for="oldpassword">Old Password:</label>
							<input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Please, type your old password.">
							
							<br>
						
							<label for="newpassword">New Password:</label>
							<input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="Please, type your new password.">

						</div>
					
						<button type="submit" class="btn btn-success">Change Password</button>
				
						<br> <br>
						<button type="button" class="btn btn-primary btn-sm" onclick="location.href = '/';">Back</button>

					</form>
					
					<br>

					{% with messages = get_flashed_messages(with_categories=true) %}
							{% if messages %}

									{% for message in messages %}
											{% if "Error" not in message[1]: %}
													<div class="alert alert-info">
															<strong>Success! </strong> {{ message[1] }}
													</div>
											{% endif %}

											{% if "Error" in message[1]: %}
													<div class="alert alert-warning">
															{{ message[1] }}
													</div>
											{% endif %}
									{% endfor %}
							{% endif %}
					{% endwith %}

                </div>

        </body>
</html>
